<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Home</a>
  <form class="form-inline" action="/logout" method="GET">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
  </form>
</nav>
<br />
<br />
<section class="container">
    <h1>Hello, {{this.firstName}}</h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur sapiente est iure quod voluptates veniam distinctio quis nobis recusandae praesentium eius non dolorum aperiam impedit nulla delectus cumque, deserunt ut placeat. Perspiciatis ipsam dolor, sed hic tempora quis aliquid fuga iusto et est veniam dolorem cupiditate quo repellendus ex ut nemo? Nemo, deleniti quia autem magni cumque laboriosam quae quod eum nostrum asperiores consectetur explicabo reprehenderit laborum ipsum aut inventore necessitatibus incidunt et aspernatur. Libero ipsum commodi fuga necessitatibus sunt eum porro quaerat, ullam alias vel ut aperiam assumenda minima excepturi modi laboriosam quisquam aut? Porro magnam aut distinctio ut?
    </p>
</section>